<fieldset data-controller="keys" class="mb-5">
  <legend>Generate a PGP key pair</legend>
  <button data-action="click->keys#generate" data-target="keys.generateButton" type="button" class="btn btn-primary btn-lg">
    <span class="mr-3">Generate</span>
    <span class="material-icons icon-fix">vpn_key</span>
    <span class="material-icons icon-fix spin d-none">hourglass_empty</span>
  </button>
  <br>
  <br>
  <div class="row d-none" data-target="keys.initialState">
    <div class="col">
      <label>Public key</label>
      <span class="material-icons md-light copy public-key" data-action="click->keys#copyToClipboard">content_copy</span>
      <span class="copy-badge badge badge-light d-none">Copied!</span>
      <div class="custom-textarea" spellcheck="false" contentEditable="true" data-target="keys.publicKey"></div>
      <a href="#" class="download" data-action="click->keys#downloadKey" data-type="public">
        <span class="material-icons mr-3">save_alt</span>
        Download public key
      </a>
    </div>
    <div class="col">
      <label>Private key</label>
      <span class="material-icons md-light copy private-key" data-action="click->keys#copyToClipboard">content_copy</span>
      <span class="copy-badge badge badge-light d-none">Copied!</span>
      <div class="custom-textarea" spellcheck="false" contentEditable="true" data-target="keys.privateKey"></div>
      <a href="#" class="download" data-action="click->keys#downloadKey" data-type="private">
        <span class="material-icons mr-3">save_alt</span>
        Download private key
      </a>
    </div>
  </div>
</fieldset>
