<fieldset data-controller="keys" class="mb-5">
  <legend>Generate a PGP key pair</legend>
  <div class="row d-none error bg-danger rounded p-3 mb-4" data-target="keys.error">
    <em>An error has occured. Please verify the submitted data or try again later.</em>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="form-group mb-3">
        <label>Email</label>
        <input type="email" class="form-control" data-target="keys.emailParams" placeholder="email@example.com" value="<%= @email %>">
      </div>
      <div class="form-group mb-3">
        <label>Passphrase</label>
        <div class="mb-2"><small class="text-muted">There is no way to recover your passphrase so be sure not to forget it.</small></div>
        <div class="input-group">
          <input type="password" class="form-control" data-target="keys.passphraseParams" placeholder="a-str0ng_p@ssphras€!">
          <div class="input-group-append" data-action="click->keys#showPassphrase">
            <a class="input-group-text">
              <span class="material-icons">
                visibility_off
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button data-action="click->keys#generate" data-target="keys.generateButton" type="submit" class="btn btn-primary btn-lg">
    <span class="mr-3">Generate</span>
    <span class="material-icons icon-fix">vpn_key</span>
    <span class="spinner-border icon-fix spinner-border-sm d-none" role="status" aria-hidden="true"></span>
  </button>
  <br>
  <br>
  <div class="row d-none" data-target="keys.initialState">
    <div class="col-lg-6">
      <label>Public key</label>
      <span class="material-icons md-light copy public-key" data-action="click->keys#copyToClipboard">content_copy</span>
      <span class="copy-badge badge badge-light d-none">Copied!</span>
      <div class="custom-textarea" spellcheck="false" contentEditable="true" data-target="keys.publicKey"></div>
      <a href="#" class="download" data-action="click->keys#downloadKey" data-type="public">
        <span class="material-icons mr-3">save_alt</span>Download public key
      </a>
    </div>
    <div class="col-lg-6">
      <label>Private key</label>
      <span class="material-icons md-light copy private-key" data-action="click->keys#copyToClipboard">content_copy</span>
      <span class="copy-badge badge badge-light d-none">Copied!</span>
      <div class="custom-textarea" spellcheck="false" contentEditable="true" data-target="keys.privateKey"></div>
      <a href="#" class="download" data-action="click->keys#downloadKey" data-type="private">
        <span class="material-icons mr-3">save_alt</span>Download private key
      </a>
    </div>
  </div>
</fieldset>
