<div class="d-sm-flex" id="landing_header">
  <div class="text-left mb-5">
    <h3 id="logo" >
      <span class="highlight">alice</span><br/>
      <span class="text-primary highlight and">and</span><br/>
      <span class="bob highlight">bob</span>
      <span class="text-primary highlight shift">.</span><span class="text-primary io highlight">io</span>
    </h3>
  </div>
  <div class="flex-grow-1 text-sm-right mb-5">
    <a href="https://twitter.com/aliceandbob_io" target="_blank" class="mr-3 text-decoration-none">
      <i class="fab fa-twitter fa-lg text-info"></i>
    </a>
    <a href="https://github.com/aliceandbob-io" target="_blank" class="mr-3 text-decoration-none">
      <i class="fab fa-github fa-lg text-info"></i>
    </a>
    <a href="mailto:hello@aliceandbob.io" class="mr-3 text-decoration-none">
      <i class="fas fa-envelope fa-lg text-info"></i>
    </a>
    <a href="https://www.buymeacoffee.com/aliceandbobio" target="_blank" class="text-decoration-none">
      <i class="fas fa-donate fa-lg text-info"></i>
    </a>
  </div>
</div>
