<section id="features">
  <h1 class="mb-5"><span class="highlight">Features</span></h1>
  <div class="row justify-content-center mb-5">
    <div class="col-md-6 col-lg-5 text-right p-3 order-2 order-md-1">
      <img src="https://raw.githubusercontent.com/aliceandbob-io/files/main/features_generate.png" alt="screenshot app" class="img-fluid rounded shadow"/>
    </div>
    <div class="col-md-6 col-lg-5 text-left p-3 order-1 order-md-2">
      <h3 class="mb-5"><span class="badge badge-pill badge-primary">1</span> Creation</h3>
      <p>Generate PGP key pairs using your email and a passphrase.</p>
      <p>Soon will be added the possibility to choose your encryption and to export your keys in the <mark class="text-monospace">.pgp</mark> format.</p>
      <p>You will also be able to upload your own public keys to <a href="https://en.wikipedia.org/wiki/Key_server_(cryptographic)" target="_blank">HKP servers</a>.</p>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-md-6 col-lg-4 text-right p-3">
      <h3 class="mb-5"><span class="badge badge-pill badge-primary">2</span> Encryption</h3>
      <p>Encrypt messages with the public PGP key of the receiver.</p>
      <p>In the future, we will also add the possibility to store public keys of your contacts in order to retrieve them and them easily.</p>
    </div>
    <div class="col-md-6 col-lg-4 text-left p-3">
      <img src="https://raw.githubusercontent.com/aliceandbob-io/files/main/features_encrypt.png" alt="screenshot app" class="img-fluid rounded shadow"/>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-md-6 col-lg-5 text-right p-3 order-2 order-md-1">
      <img src="https://raw.githubusercontent.com/aliceandbob-io/files/main/features_decrypt.png" alt="screenshot app" class="img-fluid rounded shadow"/>
    </div>
    <div class="col-md-6 col-lg-5 text-left p-3 order-1 order-md-2">
      <h3 class="mb-5"><span class="badge badge-pill badge-primary">3</span> Decryption</h3>
      <p>Lastly, decrypt messages with your private key and your passphrase.</p>
      <p>It is free and secure, and it will stay that way.</p>
    </div>
  </div>
</section>
