<section id="features">
  <h1 class="mb-5" data-aos="zoom-out" data-aos-duration="7000"><span class="highlight">Features</span></h1>
  <div class="row justify-content-center mb-5" data-aos="zoom-in-left" data-aos-duration="7000">
    <div class="col-sm-8 col-md-6 col-lg-4 text-right p-3 order-2 order-md-1">
      <img src="https://raw.githubusercontent.com/aliceandbob-io/files/main/features_generate.png" alt="screenshot app" class="img-fluid rounded shadow"/>
    </div>
    <div class="col-md-6 col-lg-5 text-left p-3 order-1 order-md-2">
      <h3 class="mb-5"><span class="badge badge-pill badge-primary">1</span> Creation</h3>
      <p>Generate PGP key pairs using your email and a passphrase.</p>
      <p>You also can choose from different encryption options.</p>
      <p><strong>Comming Soon:</strong></p>
      <p>
        - Export your keys in different file formats;<br />
        - Upload your own public keys to <a href="https://en.wikipedia.org/wiki/Key_server_(cryptographic)" target="_blank">HKP servers</a>.
      </p>
    </div>
  </div>

  <div class="row justify-content-center mb-5" data-aos="zoom-in-right" data-aos-duration="7000">
    <div class="col-md-6 col-lg-5 text-right p-3">
      <h3 class="mb-5"><span class="badge badge-pill badge-primary">2</span> Encryption</h3>
      <p>Encrypt messages with the public PGP key of the receiver.</p>
      <p><strong>Comming Soon:</strong></p>
      <p>
        - Store public keys of your contacts; <br />
        - Retrieve your contacts easily.
      </p>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4 text-left p-3">
      <img src="https://raw.githubusercontent.com/aliceandbob-io/files/main/features_encrypt.png" alt="screenshot app" class="img-fluid rounded shadow"/>
    </div>
  </div>

  <div class="row justify-content-center mb-5" data-aos="zoom-in-left" data-aos-duration="7000">
    <div class="col-sm-8 col-md-6 col-lg-4 text-right p-3 order-2 order-md-1">
      <img src="https://raw.githubusercontent.com/aliceandbob-io/files/main/features_decrypt.png" alt="screenshot app" class="img-fluid rounded shadow"/>
    </div>
    <div class="col-md-6 col-lg-5 text-left p-3 order-1 order-md-2">
      <h3 class="mb-5"><span class="badge badge-pill badge-primary">3</span> Decryption</h3>
      <p>Lastly, decrypt messages with your private key and your passphrase.</p>
      <p><strong>It is free and secure, and it will stay that way.</strong></p>
    </div>
  </div>
</section>
