<section id="webapp" class="pt-5">
  <h1 class="mb-5"><span class="highlight">Web App</span></h1>
  <div class="row justify-content-center" data-aos="zoom-in-up" data-aos-duration="7000">
    <div class="col-xs-8 col-sm-10 col-md-10 col-lg-6">
      <%= link_to online_pgp_tool_path, target: "_blank" do %>
        <div class="browser-mockup">
          <img src="https://raw.githubusercontent.com/aliceandbob-io/files/main/screenshot-online-pgp-tool.png" class="img-fluid"/>
        </div>
      <% end %>
      <%= link_to "Get started!", online_pgp_tool_path, target: "_blank", class: "btn btn-primary btn-lg rounded mt-5 p-3" %>
    </div>
  </div>
</section>
