<section id="online_pgp_tool" class="">
  <h1 class="mb-5"><span class="highlight">WebApp</span></h1>
  <div class="flex-even align-self-center">
    <h3 class="mb-5">Want to try it now? Check out the <span class="highlight">online PGP tool</span></h3>

    <%= link_to online_pgp_tool_path, target: "_blank", class: "btn btn-primary btn-lg rounded p-4" do %>
      Online PG Ptool <span class="material-icons">open_in_new</span>
    <% end %>

    <p class="mt-4"><%=link_to "Get started for free", online_pgp_tool_path, target: "_blank" %> for free, no need to sign up!</p>
  </div>
</section>
