<section id="downloads" class="pt-3">
  <h1 class="mb-5" data-aos="zoom-out" data-aos-duration="7000"><span class="highlight">Downloads</span></h1>
  <div class="row mb-5">
    <div class="col-md-4 mb-5" data-aos="flip-left" data-aos-duration="7000">
      <h3 class="mb-4">Windows</h3>
      <i class="fab fa-windows fa-5x"></i>
      <div class="mt-3">
        <a href="https://github.com/aliceandbob-io/aliceandbob-desktop/releases/download/1.1.0-beta.2/aliceandbob.io-1.1.0-Beta.2_x64.Setup.exe"
        class="btn btn-info"
        onclick="ga('send', 'event', 'Button', 'Download', 'Windows x64 Download Section')">
          <i class="fab fa-windows"></i> Windows x64
        </a>
      </div>
      <div class="mt-3">
        <a href="https://github.com/aliceandbob-io/aliceandbob-desktop/releases/download/1.1.0-beta.2/aliceandbob.io-1.1.0-Beta.2_x32.Setup.exe"
        class="btn btn-info"
        onclick="ga('send', 'event', 'Button', 'Download', 'Windows x32 Download Section')">
          <i class="fab fa-windows"></i> Windows x32
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-5" data-aos="flip-left" data-aos-duration="7000">
      <h3 class="mb-4">Linux</h3>
      <i class="fab fa-linux fa-5x"></i>
      <div class="mt-3">
        <a href="https://github.com/aliceandbob-io/aliceandbob-desktop/releases/download/1.1.0-beta.2/aliceandbob.io_1.1.0-Beta.2_amd64.deb"
        class="btn btn-info"
        onclick="ga('send', 'event', 'Button', 'Download', 'Linux .deb Download Section')">
          <i class="fab fa-ubuntu"></i> Linux (.deb)
        </a>
      </div>
      <div class="mt-3">
        <a href="https://github.com/aliceandbob-io/aliceandbob-desktop/releases/download/1.1.0-beta.2/aliceandbob.io-1.1.0.Beta.2-1.x86_64.rpm"
        class="btn btn-info"
        onclick="ga('send', 'event', 'Button', 'Download', 'Linux .rpm Download Section')">
          <i class="fab fa-redhat"></i> Linux (.rpm)
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-5" data-aos="flip-left" data-aos-duration="7000">
      <h3 class="mb-4">MacOs</h3>
      <i class="fab fa-apple fa-5x"></i>
      <div class="mt-3">
        <a href="https://github.com/aliceandbob-io/aliceandbob-desktop/releases/download/1.1.0-beta.2/aliceandbob.io-darwin-x64-1.1.0-Beta.2.zip"
        class="btn btn-info"
        onclick="ga('send', 'event', 'Button', 'Download', 'MacOs .zip Download Section')">
          <i class="fas fa-file-archive"></i> MacOs (.zip)
        </a>
      </div>
    </div>
  </div>
  <p>You can also visit the <a href="https://github.com/aliceandbob-io/aliceandbob-desktop/releases" target="_blank" onclick="ga('send', 'event', 'Button', 'Download', 'Github Downloads Option')">Github page</a> where more download options might be available.</p>
</section>
