@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-custom";

body {
  font-family: 'Roboto mono', sans-serif;
}

/* Overlay to be implemented
#overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
*/

#content {
  display: flex;
  flex-direction: row;
  #main {
    flex: 1;
    #page {
      min-height: calc(100vh - 58px - 25px - 60px - 75px - 48px); //100vh - header - alert - bmc - section - footer dot
    }
    footer {
      //margin-top: 75px;
      .bmc-btn {
        height: 45px !important;
        margin-bottom: 15px;
        font-size: 1.2rem !important;
        min-width: inherit !important;
      }
      >.section {
        min-height: 75px;
        padding: 25px;
        padding-top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >div {
          flex: 1;
        }
        a {
          color: white;
        }
        a:hover {
          color: $my-primary;
        }
      }
    }
  }
  #nav {
    height: 100vh;
    background-color: black;
    position: sticky;
    top: 0;
    >div {
      display: flex;
      flex-direction: column;
      align-items: center;
      >a {
        margin: 0.5rem 0.5rem 2rem 0.5rem;
        transition: all .2s ease-in-out;
        >svg, span {
          margin: 0.75rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #content {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100vh;
    #main {
      padding-bottom: 100px;
      #page {
        min-height: calc(100vh - 62px - 180px - 25px - 80px); //100vh - header - footer - alert - nav
      }
      footer {
        >.section {
          //min-height: 135px;
          padding: 15px;
          display: flex;
          flex-direction: column-reverse;
          justify-content: space-between;
          >div {
            margin-bottom: 10px;
          }
        }
      }
    }
    #nav {
      z-index: 1;
      height: auto;
      width: 100%;
      position: fixed;
      top: auto;
      bottom: 0;
      >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        >a {
          margin: 0.5rem;
          >svg {
            margin: 0.5rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    .nav-link:last-child {
      padding-right: 0px;
    }
  }
  .navbar-brand {
    font-size: 1.2em;
  }
  .shift {
    &:nth-last-of-type(-n+2) {
      bottom: -3px;
      position: relative;
      left: -5px !important;
    }
    &:last-of-type {
      left: -10px !important;
    }
  }
}

fieldset {
  background-color: rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 25px;
  legend {
    font-weight: 400;
  }
  label {
    font-weight: 700;
    color: grey;
  }
}

.custom-textarea {
  background-color: rgba(0,0,0,0.2);
  min-height: 35vh;
  max-height: 35vh;
  margin-bottom: 1rem;
  overflow: auto;
  color: white;
  padding: 15px 25px;
  font-weight: 300;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  word-break: break-word;
  &:focus, &:hover {
    outline: none;
    border-radius: 8px;
    border: 1px solid #ced4da;
  }
  &::-webkit-scrollbar-thumb {
    background-color: white;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  scrollbar-color: white black;
  scrollbar-width: thin;
}

.material-icons, .spinner-border {
  font-size: 24px;
  vertical-align: middle;
  position: relative;
}

.icon-fix {
  top: -1px;
}

.copy, .copy-badge {
  position: absolute;
  right: 30px;
  top: 40px;
  cursor: pointer;
}

.copy-badge {
  line-height: 18px;
}

.download {
  margin-bottom: 3rem;
  display: inline-block;
}

.error {
  font-weight: 300;
}
