<fieldset data-controller="keys" class="mb-5">
  <legend>Generate a PGP key pair</legend>
  <div class="row d-none error bg-danger rounded p-3 mb-4" data-target="keys.error">
    <span>An error has occured. Please verify the submitted data or try again later.</span>
  </div>
  <div class="row warning bg-warning text-dark rounded p-3 mb-4">
    <span>This tool will soon migrate to a new version of openPGP.js: the <kbd>brainpool</kbd> and <kbd>secp256k1</kbd> curves will no longer be supported for key generation, encryption and decryption.</span>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="form-group mb-3">
        <label>Email</label>
        <input type="email" class="form-control" data-target="keys.emailParams" placeholder="email@example.com" value="<%= @email %>">
      </div>
      <div class="form-group mb-3">
        <label>Passphrase</label>
        <div class="mb-2"><small class="text-muted">There is no way to recover your passphrase so be sure not to forget it.</small></div>
        <div class="input-group">
          <input type="password" class="form-control" data-target="keys.passphraseParams" placeholder="a-str0ng_p@ssphras€!">
          <div class="input-group-append" data-action="click->keys#showPassphrase">
            <a class="input-group-text">
              <span class="material-icons">
                visibility_off
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label>Curve encryption</label>
        <div class="mb-2"><small class="text-muted">Choose the type of encryption for your key pair.</small></div>
        <select class="form-control" data-target="keys.curveParams">
          <option value="curve25519">curve25519</option>
          <option value="ed25519">ed25519</option>
          <option value="p256">p256</option>
          <option value="p384">p384</option>
          <option value="p521">p521</option>
          <option value="brainpoolP256r1">brainpoolP256r1</option>
          <option value="brainpoolP384r1">brainpoolP384r1</option>
          <option value="brainpoolP512r1">brainpoolP512r1</option>
          <option value="secp256k1">secp256k1</option>
        </select>
      </div>
    </div>
  </div>
  <button data-action="click->keys#generate" data-target="keys.generateButton" type="submit" class="btn btn-primary btn-lg" onclick="ga('send', 'event', 'Online pgp tool', 'Generate')">
    <span class="mr-3">Generate</span>
    <span class="material-icons icon-fix">vpn_key</span>
    <span class="spinner-border icon-fix spinner-border-sm d-none" role="status" aria-hidden="true"></span>
  </button>
  <br>
  <br>
  <div class="row d-none" data-target="keys.initialState">
    <div class="col-lg-6">
      <label>Public key</label>
      <span class="material-icons md-light copy public-key" data-action="click->keys#copyToClipboard">content_copy</span>
      <span class="copy-badge badge badge-light d-none">Copied!</span>
      <div class="custom-textarea" spellcheck="false" contentEditable="true" data-target="keys.publicKey"></div>
      <a href="#" class="btn btn-outline-primary btn-sm download" data-action="click->keys#downloadKey" data-type="public" data-format="txt">
        <span class="material-icons align-top">save_alt</span>.txt
      </a>
      <a href="#" class="btn btn-outline-primary btn-sm download" data-action="click->keys#downloadKey" data-type="public" data-format="asc">
        <span class="material-icons align-top">save_alt</span>.asc
      </a>
    </div>
    <div class="col-lg-6">
      <label>Private key</label>
      <span class="material-icons md-light copy private-key" data-action="click->keys#copyToClipboard">content_copy</span>
      <span class="copy-badge badge badge-light d-none">Copied!</span>
      <div class="custom-textarea" spellcheck="false" contentEditable="true" data-target="keys.privateKey"></div>
      <a href="#" class="btn btn-outline-primary btn-sm download" data-action="click->keys#downloadKey" data-type="private" data-format="txt">
        <span class="material-icons align-top">save_alt</span>.txt
      </a>
      <a href="#" class="btn btn-outline-primary btn-sm download" data-action="click->keys#downloadKey" data-type="private" data-format="asc">
        <span class="material-icons align-top">save_alt</span>.asc
      </a>
    </div>
  </div>
</fieldset>
