<footer>
  <div class="text-center text-md-left">
    © 2020 <%= link_to "aliceandbob.io", root_path %>
  </div>
  <div class="text-center">
    Coded with ❤️
  </div>
  <div class="text-center text-md-right">
    <a href="mailto:hello@aliceandbob.io"><span class="material-icons">email</span></a>
  </div>
</footer>
