<div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-generate-tab" data-toggle="pill" href="#v-pills-generate" role="tab" aria-controls="v-pills-generate" aria-selected="true">
    <span class="material-icons">vpn_key</span>
  </a>
  <a class="nav-link" id="v-pills-encrypt-tab" data-toggle="pill" href="#v-pills-encrypt" role="tab" aria-controls="v-pills-encrypt" aria-selected="false">
    <span class="material-icons">lock</span>
  </a>
  <a class="nav-link" id="v-pills-decrypt-tab" data-toggle="pill" href="#v-pills-decrypt" role="tab" aria-controls="v-pills-decrypt" aria-selected="false">
    <span class="material-icons">lock_open</span>
  </a>
</div>
